/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Karla:ital,wght@0,200..800;1,200..800&family=Lilita+One&family=Protest+Guerrilla&display=swap');

body {
    font-family: "Anton", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    
    color: #e4e6eb;
    padding-top: 90px; /* Ajustar según la altura del header */
}

/* Sección SoundCloud */
.soundcloud-section {
    padding: 60px 0;
}

.soundcloud-section h2 {
    font-size: 2.4em;
    font-family: "Protest Guerrilla", sans-serif;
    margin-bottom: 20px;
    color: #df2c0cb4;
}

.soundcloud-player {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Contenedor principal */
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.container-footer {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px; /* Ajustar según la altura del header */
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');



/* Estilos del encabezado */
header {
    background: rgba(156, 24, 9, 0.26); /* Mantener el color del header con transparencia */
    padding: 10px 0;
    position: fixed; /* Fijar el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    box-sizing: border-box;
}

    


/* Contenido del header */
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-content .logo {
    width: 100px;
    margin-bottom: 10px;
}

.header-text h1 {
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 3.4em;
    margin: 0;
    color: #fbff00;
    
}



/* Sección Hero */
.hero {
    padding: 30px 0; /* Ajustar para darle mayor espacio */
    min-height: 20vh; /* Garantiza que la sección ocupe una buena parte de la pantalla */
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Sección de Servicios */
.services {
    padding: 20px 0;
}

.services h2 {
    font-size: 2.4em;
    font-family: "Protest Guerrilla", sans-serif;
    margin-bottom: 20px;
    color: #fbff00;
}

.service-item {
    display: inline-block;
    width: 45%;
    margin: 10px;
    vertical-align: top;
    text-align: left;
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 200px;
    object-fit: cover;
}

.service-item h3 {
    font-size: 1.5em;
    margin: 10px 0 5px;
    color: #e4e6eb;
}

.service-item p {
    font-size: 1em;
    color: #f9fbff;
}

/* Sección de Contacto */
.contact {
    background: rgba(94, 24, 16, 0.438); /* Mantener el color del header con transparencia */
    width: 100%; /* Reduce el ancho del footer */
    max-width: 1200px; /* Limita el ancho máximo del footer */
    margin: 0 auto; /* Asegura que el footer esté centrado */
    padding: 12px 0;
}

.contact h2 {
    font-size: 2em;
    font-family: "Protest Guerrilla", sans-serif;
    margin-bottom: 6px;
    color: #fbff00;
}

.contact p {
    font-size: 1.1em;
    font-family: "Karla", sans-serif;
    margin-bottom: 15px;
    
}

/* Botón de WhatsApp */
.whatsapp-button {
    background-color: #25D366;
    color: #fff;
    padding: 10px 10px;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.whatsapp-button::before {
    content: url('img/whatsapp-icon.pn'); /* Asegúrate de tener un icono de WhatsApp en esta ruta */

    margin-right: 8px;
    vertical-align: middle;
}

/* Pie de página */
footer {
    background: rgba(167, 47, 34, 0.199); /* Sin color de fondo, totalmente transparente */
    padding: 1px 0;
    color: #ffffff;
    box-sizing: border-box;
    width: 100%; /* Reduce el ancho del footer */
    max-width: 1000px; /* Limita el ancho máximo del footer */
    margin: 0 auto; /* Asegura que el footer esté centrado */
    text-align: center; /* Centra el contenido dentro del footer */
    font-family: "Karla", sans-serif;
    position: relative; /* Mantiene el footer dentro del flujo del documento */
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Mantiene el contenido en dirección horizontal */
}

footer p {
    margin: 0;
    padding: 2px 0; /* Opcional: agrega un poco de padding si es necesario */
}



/* Responsive */
@media (max-width: 768px) {
    .service-item {
        width: 100%;
        margin: 5px 0;
    }

    .hero h2 {
        font-size: 1.8em;
    }

    .hero p {
        font-size: 1em;
    }
}

