/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Karla:ital,wght@0,200..800;1,200..800&family=Lilita+One&family=Protest+Guerrilla&display=swap');

body {
    font-family: "Anton", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; /* Añadir para ajustar la imagen de fondo a móviles */
    color: #df2c0cb4;
    padding-top: 100px; /* Ajustar según la altura del header */
}

/* Sección SoundCloud */
.soundcloud-section {
    padding: 80px 0;
}

.soundcloud-section h2 {
    font-size: 2.4em;
    font-family: "Protest Guerrilla", sans-serif;
    margin-bottom: 22px;
    color: #df2c0cb4;
}

.soundcloud-player {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenedor principal */
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.container-footer {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px; /* Ajustar según la altura del header */
}

/* Estilos del encabezado */
header {
    background: rgba(156, 24, 9, 0.26);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-content .logo {
    width: 100px;
    margin-bottom: 10px;
}

.header-text h1 {
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 3.4em;
    margin: 0;
    color: #fbff00;
}

/* Sección Hero */
.hero {
    padding: 30px 0;
    min-height: 20vh;
    color: #ebddde;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Sección de Servicios */
.services {
    padding: 20px 0;
}

.services h2 {
    font-size: 2.4em;
    font-family: "Protest Guerrilla", sans-serif;
    margin-bottom: 20px;
    color: #fbff00;
}

.service-item {
    display: inline-block;
    width: 45%;
    margin: 10px;
    vertical-align: top;
    text-align: left;
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 200px;
    object-fit: cover;
}
.service-item h3 {
    font-size: 1.5em;
    margin: 10px 0 5px;
    color: #ebddde;
}

.service-item p {
    font-size: 1em;
    color: #f9fbff;
}

/* Sección de Contacto */
.contact {
    background: rgba(94, 24, 16, 0.438);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 0; /* Aumentar el padding para móviles */
    text-align: center; /* Centrar el contenido */
}

.contact h2 {
    font-size: 2em;
    font-family: "Protest Guerrilla", sans-serif;
    margin-bottom: 10px;
    color: #fbff00;
}

.contact p {
    font-size: 1.8em;
    font-family: "Karla", sans-serif;
    margin-bottom: 20px;
}

/* Botón de WhatsApp */
.whatsapp-button {
    display: inline-block;
    background-color: #0aeb5c;
    color: #dffae3;
    padding: 12px 20px; /* Mayor padding para mejorar la interacción en móviles */
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px; /* Bordes más redondeados */
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.whatsapp-button::before {
   /* content: url('img/whatsapp-icon.png'); /* Asegúrate de tener la imagen correcta */
    margin-right: 10px;
    vertical-align: middle;
}

/* Responsividad - Ajustes para móviles */
@media (max-width: 768px) {
    body {
        background-attachment: scroll; /* Cambiar a scroll en dispositivos móviles */
        background-size: cover;
        }
    }
    
    .contact {
        padding: 15px 10px; /* Reducir el padding en móviles */
    }

    .contact h2 {
        font-size: 1.8em; /* Reducir el tamaño del título en móviles */
    }

    .contact p {
        font-size: 1.1em; /* Ajustar el tamaño del párrafo */
    }

    .whatsapp-button {
        font-size: 1.1em;
        padding: 10px 16px; /* Reducir padding del botón en móviles */
        width: 90%; /* Hacer que el botón ocupe más espacio horizontal en móviles */
    }

    .whatsapp-button::before {
        margin-right: 5px; /* Ajustar el margen del ícono en móviles */
    }
    .service-item {
        width: 90%; /* Ajusta el ancho para móviles para que cada item use todo el ancho disponible */
    }
    .service-item img {
        min-height: 120px; /* Puede ajustar esta medida según necesidades específicas */
    }
}

@media (max-width: 480px) {
    body {
        background-attachment: scroll; /* Mantener scroll en móviles muy pequeños */
        background-position: top center; /* Ajustar la posición para móviles pequeños */
        background-size: 100% auto; /* Asegurar que la imagen se ajuste a lo ancho */
    }
    .contact h2 {
        font-size: 1.6em; /* Más pequeño para móviles muy pequeños */
    }

    .contact p {
        font-size: 1em; /* Reducir el tamaño del texto aún más */
    }

    .whatsapp-button {
        font-size: 1em; /* Ajustar el tamaño del texto del botón */
        padding: 10px 12px; /* Ajustar el padding para pantallas pequeñas */
        width: 70%; /* Ocupar casi todo el ancho en pantallas pequeñas */
    }
    .service-item img {
        min-height: 90px; /* Ajuste para teléfonos más pequeños */
    }

    .hero h2 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .header-text h1 {
        font-size: 2em;
    }

    .contact h2 {
        font-size: 1.4em;
    }

    .contact p {
        font-size: 0.9em;
    }

    .services h2 {
        font-size: 1.8em;
    }
 }
    /* Reducir tamaño del logo en pantallas más pequeñas */
    .header-content .logo {
        width: 60px;
    }
 





